/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}

/* Weather App styles */
* {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body {
    background: rgb(86,204,242);
    background: linear-gradient(180deg, rgba(86,204,242,1) 0%, rgba(47,128,237,1) 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}
body.clear .sunny{
    display: block;
}
body.clouds,
body.rainy-weather {
    background: #bdc3c7;
    background: linear-gradient(180deg, #bdc3c7 0%, #2c3e50 100%);
}
body.clouds .cloudy {
    display: block;
}
body.rainy-weather .rainy {
    display: block;
}
body.storm {
    background: #2c3e50;
    background: linear-gradient(180deg, #2c3e50 0%, #3498db 100%);
}
body.storm .thunder-storm {
    display: block;
}
body.snowy {
    background: #00c6ff;
    background: linear-gradient(180deg, #00c6ff 0%, #0072ff 100%);
}
body.snowy .flurries {
    display: block;
}

p {
    line-height: 1.5;
}
strong {
    font-weight: 700;
}

.content-wrapper {
  padding:  3em 1em;
}

#searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    max-width: 20.5em;
}

#searchInput {
    background: transparent;
    color: #fff;
    border-radius: 1.5em;
    border: 2px solid #fff;
    outline: none;
    padding: 0.5em 1em;
    font-size: 1.5em;
    width: 100%;
}
#searchInput::placeholder {
    color: #fff;
}

#searchBtn {
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 2em;
    height: 2em;
    cursor: pointer;
    position: absolute;
    right: 2em;
}

#weatherContainer {
    text-align: center;
}
h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.5em;
}
h1 span:before {
    margin-right: 0.25em;
}
#temperature {
    font-size: 1.75em;
    padding-top: 2em;
}
#weatherDescriptionHeader {
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.weather-animation {
    margin-top: 4em;
}

#humidity {
  margin-bottom: 2em;
}

.sunny,
.cloudy,
.rainy,
.thunder-storm,
.flurries {
    display: none;
}

.sun {
    position: absolute;
    left: 50%;
    width: 2.5em;
    height: 2.5em;
    margin: -1.25em;
    background: #FFEB3B;
    border-radius: 50%;
    box-shadow: 0 0 0 0.375em #FFEB3B;
    animation: spin 12s infinite linear;
  }
  .rays {
    position: absolute;
    top: -2em;
    left: 50%;
    display: block;
    width: 0.375em;
    height: 1.125em;
    margin-left: -0.1875em;
    background: #FFEB3B;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #FFEB3B;
  }
  .rays:before,
  .rays:after {
    content: '';
    position: absolute;
    top: 0em;
    left: 0em;
    display: block;
    width: 0.375em;
    height: 1.125em;
    transform: rotate(60deg);
    transform-origin: 50% 3.25em;
    background: #FFEB3B;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #FFEB3B;
  }
  .rays:before {
    transform: rotate(120deg);
  }

  .cloud {
    position: absolute;
    z-index: 1;
    left: 50%;
    width: 3.6875em;
    height: 3.6875em;
    margin: -1.84375em;
    background: #fff;
    border-radius: 50%;
    box-shadow:
      -2.1875em 0.6875em 0 -0.6875em,
      2.0625em 0.9375em 0 -0.9375em,
      0 0 0 0.375em #fff,
      -2.1875em 0.6875em 0 -0.3125em #fff,
      2.0625em 0.9375em 0 -0.5625em #fff;
  }
  .cloud:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5em;
    display: block;
    width: 4.5625em;
    height: 1em;
    background: #fff;
    box-shadow: 0 0.4375em 0 -0.0625em #fff;
  }
  .cloud:nth-child(2) {
    z-index: 0;
    background: #fff;
    box-shadow:
      -2.1875em 0.6875em 0 -0.6875em #fff,
      2.0625em 0.9375em 0 -0.9375em #fff,
      0 0 0 0.375em #fff,
      -2.1875em 0.6875em 0 -0.3125em #fff,
      2.0625em 0.9375em 0 -0.5625em #fff;
    opacity: 0.3;
    transform: scale(0.5) translate(6em, -3em);
    animation: cloud 4s linear infinite;
  }
  .cloud:nth-child(2):after { background: #fff; }

.rain,
.lightning,
.snow {
  position: absolute;
  z-index: 2;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: transparent;
}
.rain:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 1.125em;
    height: 1.125em;
    margin: -1em 0 0 -0.25em;
    background: #0cf;
    border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 rgba(255,255,255,0.2);
    transform: rotate(-28deg);
    animation: rain 3s linear infinite;
}

.bolt {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.25em 0 0 -0.125em;
    color: #FFEB3B;
    animation: lightning 2s linear infinite;
    }
    .bolt:nth-child(2) {
    width: 0.5em;
    height: 0.25em;
    margin: -1.75em 0 0 -1.875em;
    transform: translate(2.5em, 2.25em);
    opacity: 0.2;
    animation: lightning 1.5s linear infinite;
}
.bolt:before,
.bolt:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: -1.625em 0 0 -1.0125em;
    border-top: 1.25em solid transparent;
    border-right: 0.75em solid;
    border-bottom: 0.75em solid;
    border-left: 0.5em solid transparent;
    transform: skewX(-10deg);
}
.bolt:after {
    margin: -0.25em 0 0 -0.25em;
    border-top: 0.75em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 1.25em solid transparent;
    border-left: 0.75em solid;
    transform: skewX(-10deg);
}
.bolt:nth-child(2):before {
    margin: -0.75em 0 0 -0.5em;
    border-top: 0.625em solid transparent;
    border-right: 0.375em solid;
    border-bottom: 0.375em solid;
    border-left: 0.25em solid transparent;
}
.bolt:nth-child(2):after {
    margin: -0.125em 0 0 -0.125em;
    border-top: 0.375em solid;
    border-right: 0.25em solid transparent;
    border-bottom: 0.625em solid transparent;
    border-left: 0.375em solid;
}

.flake:before,
.flake:after {
    content: '\2744';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.025em 0 0 -1.0125em;
    color: #fff;
    opacity: 0.5;
    animation: spin 8s linear infinite reverse;
}
.flake:after {
  margin: 0.125em 0 0 -1em;
  font-size: 1.5em;
  opacity: 0.8;
  animation: spin 14s linear infinite;
}
.flake:nth-child(2):before {
  margin: -0.5em 0 0 0.25em;
  font-size: 1.25em;
  opacity: 0.6;
  animation: spin 10s linear infinite;
}
.flake:nth-child(2):after {
  margin: 0.375em 0 0 0.125em;
  font-size: 2em;
  opacity: 0.95;
  animation: spin 16s linear infinite reverse;
}


  /* Animations */

@keyframes spin {
    100% { transform: rotate(360deg); }
}

@keyframes cloud {
    0% { opacity: 0; }
    50% { opacity: 0.3; }
    100% {
        opacity: 0;
        transform: scale(0.5) translate(-200%, -3em);
    }
}

@keyframes rain {
    0% {
      background: #0cf;
      box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 #0cf;
    }
    25% {
      box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em #0cf,
        -1.375em -0.125em 0 rgba(255,255,255,0.2);
    }
    50% {
      background: rgba(255,255,255,0.3);
      box-shadow:
        0.625em 0.875em 0 -0.125em #0cf,
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 rgba(255,255,255,0.2);
    }
    100% {
      box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 #0cf;
    }
}

@keyframes lightning {
    45% {
      color: #fff;
      background: #fff;
      opacity: 0.2;
    }
    50% {
      color: #0cf;
      background: #0cf;
      opacity: 1;
    }
    55% {
      color: #fff;
      background: #fff;
      opacity: 0.2;
    }
}


/* Forecast list */
#forecastList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#forecastList li {
  border-right: 1px solid rgba(255,255,255,0.3);
  border-left: 1px solid rgba(255,255,255,0.3);
  padding: 0.5em 1em;
  margin-bottom: 1em;
  background-color: rgba(255,255,255,0.2);
}

#forecastList img {
  vertical-align: middle;
}

